# MT5 Credentials (Deriv)
MT5_ACCOUNT=40901570
MT5_PASSWORD=Fungames@01
MT5_SERVER=Deriv-Demo
MT5_PATH=C:\Program Files\MetaTrader 5 Terminal\terminal64.exe

# Strategy Parameters
# SYMBOLS="XAUUSD, Volatility 10 Index,Volatility 25 Index,Volatility 50 Index,Volatility 75 Index,Volatility 100 Index,Volatility 150 (1s) Index,Volatility 10 (1s) Index,Volatility 25 (1s) Index,Volatility 50 (1s) Index,Volatility 75 (1s) Index"
SYMBOLS="XAUUSD"
TIMEFRAME=M1
BB_PERIOD=32
BB_STD=1.5
MOMENTUM_PERIOD=3

# Risk Management
LOT_SIZE=0.01
RISK_PERCENT=1.0  #added now
MANUAL_BALANCE=0.0
MAX_TRADES=10000
DAILY_LOSS_LIMIT=50.0
STOP_LOSS_PCT=0.002
TAKE_PROFIT_PCT=0.002
TRAILING_STOP_PCT=0.001
EXIT_ON_MID_BB=True
MAGIC_NUMBER=123456

# Telegram Config
TELEGRAM_TOKEN=8523044257:AAFc2UO_P8Q6Xz5hKnio6vnX7ktrKFfLULE
TELEGRAM_CHAT_ID=1003680430959


    rsi_config = {
        "1m": {"buy_lower": 40, "buy_upper": 40, "sell_upper":50, "sell_lower": 50},
        "5m": {"buy_lower": 40, "buy_upper": 40, "sell_upper": 50, "sell_lower": 50},
        "15m": {"buy_lower": 40, "buy_upper": 45, "sell_upper": 50, "sell_lower": 50},
    }